<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/b-html5-1.5.6/b-print-1.5.6/datatables.min.css"/>
     
  <!--   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script> -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/jszip-2.5.0/dt-1.10.18/b-1.5.6/b-colvis-1.5.6/b-flash-1.5.6/b-html5-1.5.6/b-print-1.5.6/datatables.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script type="text/javascript" src="/static/js/chartjs-plugin-colorschemes.min.js"></script>


    <link rel="stylesheet"  src="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap4.min.css"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>
        
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/1024.jpg') }}">
    <title>{{ title }} - Detectilka</title>

    <link rel="stylesheet" type="text/css" href="static/css/index.css">

    <script type="text/javascript" src="/static/js/amplitude.js"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light nav fixed-top">
        <a class="navbar-brand" href="{{ url_for('index') }}">
            <img src="/static/img/1024.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            Detectilka
        </a>

       
    {% if request.path != "/login" %} 

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="topNavbar">
             <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user', username=username) }}">Reports</a>
            </li>
             <li class="nav-item">
                <a class="nav-link" href="{{ url_for('stats') }}">Stats</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
            <input type="hidden" id="csrf_access_token" name="csrf_access_token">
            <input type="hidden" id="csrf_refresh_token" name="csrf_refresh_token">
            <script type="text/javascript" src="static/js/csrf.js"></script>

            <input class="form-control mr-sm-2" type="text" name="req" placeholder="search file">
            <button class="btn btn-primary" type="submit">Search</button>
        </form>

        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav text-right">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
            </ul>
        </div>
    {% endif %}

    </div>
    </nav>
 
</head>


<body>

     <div class="container mt-5">
        {% block app_content %}{% endblock %}
    </div>


    <footer class="page-footer font-small blue fixed-bottom">
    <div class="text-center py-3">2019 ibks | Ognev | Zavadskiy
        <br>
        <a href="http://ibks.spbstu.ru/"> ibks.spbstu.ru</a>
    </div>

</footer>
</body>

