
<html>

<style type="text/css">
form {
     display:inline;
}

#searchInput {
  float: right;
}

</style>

    <head>
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Detectilka</title>
      {% endif %}
    </head>
    <body>
        <div >
            Detectilka:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
            
            <form action="/search" method="POST">
                <input id="searchInput" type="submit" value="Submit">
                <input id="searchInput" type="text" name="req">
            </form>

        </div>


    </form>
       

        {% block content %}{% endblock %}
    </body>
</html>