{% extends "base.html" %}

{%block login %}
	{% if username %}
		<li><a href="{{ url_for('user', username=username) }}">{{username}}</a></li>
		<li><a href="{{ url_for('logout') }}">Logout</a></li>
	{% else %}
	<li>{{username}}</li>
		<li><a href="{{ url_for('login') }}">Login</a></li>
	{% endif %}
{% endblock %}

{% block app_content %}
	<div>
		<h4>Upload file</h4>
		<form action="" method=post enctype=multipart/form-data onsubmit="
			var csrf_access_token = document.getElementById('csrf2')
			csrf_access_token.value = document.cookie.match(/csrf_access_token=([\w\d-]+)/)[1];

			var csrf_refresh_token = document.getElementById('csrf3')
			csrf_refresh_token.value = document.cookie.match(/csrf_refresh_token=([\w\d-]+)/)[1];
		">
	      <p><input type=file name=file>
	         <input type=submit value=Upload>
			
	         <input type=checkbox id=isAnon name=isAnon checked>
	         <label for="isAnon">Anonymously</label>

			<input type="hidden" id="csrf2" name="csrf_access_token">
			<input type="hidden" id="csrf3" name="csrf_refresh_token'>

	      </p>
	    </form>
    </div>

{% endblock %}