<label id="value_lable">
	   <table>
			    <h3>Found files:</h3>
	            <tr>
	                <th> Name </th>
	                <th> Hash </th>
	                <th> Answer </th>
	                <th> Time </th>
	                <th> Status </th>
	                <th> Owner </th>
	            </tr>
	            {% for sample in samples %}
	            <tr>
	                <td>{{ sample.filename }}</td>
	                <td>{{ sample.hash }}</td>
	                <td>{{ sample.answer }}</td>
	                <td>{{ sample.timestamp }}</td>
	                <td>{{ sample.status }}</td>
	                <td>{{ sample.owner }}</td>
	            </tr>
	            {% endfor %}
	        </table>
</label>