{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

	<div class="jumbotron-fluid text-center one pt-5" id="first">
		<h4 class="display-4" align="center">File distribution by extension</h4>
		<hr>
	    <div class="chart-container">
	   		<canvas  width="600" height="300" id="pieChart"></canvas>
		</div>
	</div>



 	<div class="jumbotron-fluid text-center one pt-5" id="second">
		<h4 class="display-4" align="center">Number of malicious and safe files</h4>
		<hr>
	    <div class="chart-container">
	   		<canvas id="lineChart" width="600" height="300"></canvas>
		</div>
	</div>

	<script type="text/javascript" src="static/js/stats.js"></script>

    <script type="text/javascript" nonce="{{ csp_nonce() }}">
		var counts = {{stat.counts | safe}}
		var names  = {{stat.names | safe}}

		var data = {
		    datasets: [{
		        data: counts
		    }],

		    labels: names,
		    options: {
		    		maintainAspectRatio : false,
   					plugins: {
      					colorschemes: {
      						scheme: 'tableau.Tableau20'
      					}
      				}
      			}
      		};

		var myChart  = new Chart(document.getElementById("pieChart"), {
		    type: 'pie',
		    data: data
		});


	new Chart(document.getElementById("lineChart"), {
	  type: 'line',
	  data: {
	    labels: ["May '16", "January '17", "May '17", "January '18","May '18", "January '19","May '19"],
	    datasets: [{ 
	        data: [54607, 22869, 34420, 36004, 62037, 88171, 97477],
	        label: "Malware",
	        borderColor: "#3e95cd",
	        fill: false
	      }, { 
	        data: [2772, 6009, 9039, 7486, 9051, 3989, 4137, 3822, 1107, 1132],
	        label: "Safe",
	        borderColor: "#8e5ea2",
	        fill: false
	      }, 
	    ]
	  },
	  options: {
	    title: {
	      display: true,
	      text: 'Number of malicious and safe files'
	    }
	  }
	});


    </script>

{% endblock %}

