{% extends "base.html" %}

{% block app_content %}
    <h1>User: {{ user.username }}</h1>
	    <div>
	        <table>
			    <h3>List of checked files:</h3>
	            <tr>
	                <th> Name </th>
	                <th> Hash </th>
	                <th> Answer </th>
	                <th> Time </th>
	                <th> Status </th>
	                <th> Owner </th>
	            </tr>
	            {% for sample in samples %}
	            <tr>
	                <td>{{ sample.filename }}</td>
	                <td>{{ sample.hash }}</td>
	                <td>{{ sample.answer }}</td>
	                <td>{{ sample.timestamp }}</td>
	                <td>{{ sample.status }}</td>
	                <td>{{ sample.owner }}</td>
	            </tr>
	            {% endfor %}
	        </table>
	    </div>
    <hr>
{% endblock %}